extends ../components/layout

block content
        .product-card.left-pr
            .product-image
                img(src="https://nobiz.ru/wp-content/uploads/2019/03/37257988_xl.jpg" alt="Product Image")
            .product-details
                h2.product-name Помогаем с наймом сотрудника
                p.product-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nulla at tellus commodo blandit.
                p.product-price $49.99
                button.product-button Add to Cart
        .product-card
            .product-image
                img(src="https://thumbs.dreamstime.com/b/business-idea-concept-building-businesswoman-32679218.jpg" alt="Product Image")
            .product-details
                h2.product-name Помогаем бизнесу расти
                p.product-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nulla at tellus commodo blandit.
                p.product-price $49.99
                button.product-button Add to Cart