extends ../components/layout
block content
    section(class='promo')
        img(src='https://sun9-west.userapi.com/sun9-15/s/v1/ig2/VRK_LC8doX6P2-vriO-7PZ3JwiF8aOLVdG1gErRXOEbylpbqbx5YiMaIpfn7cgByNxssb05NdrdEzTAeIq8MQCKf.jpg?size=638x662&quality=96&type=album',
            alt='Product Image' class='promo-img')
        p(class='promo-txt') мы придумываем классные идеи, которые помогут вашему бизнесу расти
        .promo-btn связаться с нами