mixin footer()
  footer(class="p-3 text-center footer")
    
    p(class='move-footer-p')
      | 2022&nbsp;
      a(target="_blank" rel="noopener noreferrer" href="https://github.com/jahid28/Login-Signup-Form") Voronov Egor

